body{
  background-image: url(" https://www.infokop.net/images/stories/ugostitelji/beli-meda/1.jpg");

}

.card img{
  margin-top: 10px;
}

.container{
    margin: auto; 
    
}

.card{
 background-color: rgb(184, 181, 181);
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}

.navbar-brand{
  color: rgb(0, 0, 0);
}
